.header
{
    background-color: #EDDBD0;
}

body{
    margin: 0;
}

.menu
{
    background-color:#384837;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 20px;
    font-family: monospace;
    font-weight: bold;
    padding: 1%;
}

a
{
    text-decoration: none;
    color: black;
}

.ullistmenu
{
    list-style: none;
    display: flex;
}

.listmenu{
    
    position: relative;
    flex: 1;
    padding: 0.5em;
    cursor: pointer;
}

.allmenu{
    padding: 0;
    list-style: none;
    position: absolute;
    width: 100%;
    left: 0;
    top: 100%;
    display: none;
    z-index: 3;
}

.allmenu a{
    text-decoration: none;
}

.allmenu b{
    color: white;
}

.allmenu > li{
    background-color:  grey;
    padding: 0.5em;
    font-size: 14px;
    text-align: center;
    padding: 5px;
}

.allmenu > li:hover{
    background-color: rgba(0, 0, 0, 0.6);
}

.listmenu:hover > .allmenu{
    display: block;
}

.logo img
{
    width : "90px";
    height : "90px";
}

.banner{
    display: flex;
    justify-content: center;
}

.banner img{
    width: 100%;
}

.Title
{
    font-size: 22px;
    font-family: helvetica;
    font-weight: bold;
    color: black;
    padding-left: 17%;
    padding-right: 17%;
    /* justify-content: space-evenly; 
    align-items: center; */
}

.Title2
{
    font-size: 22px;
    font-family: helvetica;
    font-weight: bold;
    color: black;
    padding-left: 1%;
    /* justify-content: space-evenly; 
    align-items: center; */
}

.Topcontent
{
    padding-bottom: 5%;
}

.TitleCenter
{
    font-size: 22px;
    padding-left: 17%;
    padding-right: 17%;
    font-family: helvetica;
    font-weight: bold;
    color: black;
    /*text-align: center;*/
    padding-bottom: 2%;
}

.TitleClasic
{
    font-size: 20.5px;
    font-family: arial;
    color: black;
    padding-left: 12%; 
    padding-right: 7%;
    /* align-content: center; */
}

.capt
{
    text-align: left;
    padding-left: 7.2%;
    width: 80%;
}

.content
{
    background-color: #c8d5c9;
}

.image
{
    display: flex;
    flex-direction: column;
}

.img1
{
    max-width: 100%;
    height: auto;
    padding-left: 7%; 
    display: flex;
    align-items: center;
}

/*
.picone img 
{
    width: 20%;
    padding-left: 7.2%;
    padding-right: 2%;
}
*/

/*
.picone
{
    padding-left: 10%; 
    display: flex;
    align-items: center;
}
*/


.pictwo{
    padding-left: 10%; 
    padding-bottom: 2%;
    display: flex;
    align-items: center;
}

/*
.picthree{
    padding-left: 10%; 
    display: flex;
    align-items: center;
}
*/

.desc
{
    display: flex;
    padding-left: 3%; 
    padding-right: 22%;
    flex-direction: column;
    font-size: 16pt;
}

.desc2
{
    display: flex;
    padding-left: 3%; 
    padding-right: 22%;
    flex-direction: column;
    font-size: 20.5px;
    font-family: arial;
}
/*---------------------*/
#left-btn, #right-btn{
    border: none;
    padding: 1% 1.5%;
    display: inline-block;
    font-size: 24px;
    border-radius: 100%;
    background-color: black;
    color: white;
    cursor: pointer;
    position: relative;
}

.ass{
    text-align: center;
    padding-bottom: 5%;
}

.slider{
    display: inline-block;
    position: relative;
    width: 100%;
    overflow: hidden;
}

.slider div.slides{
    position: relative;
    width: 80%;
}

.slider div.slides div.slide{
    display: block;
    float: left;  
}

/* .desc h2
{
} */
.descTitle
{
   font-size: 18px;
   font-weight: bold;
}

.text
{
    padding-right: 20%;
}

.footer
{
    background-color: #384837;

}

table
{
    width: 100%;
}

.txt
{
    color: white;
    font-size: 40px;
}

.txt2
{
    color: white;
    font-size: 20px;
}

.s1
{
    padding-left: 3%; 
}

.s2
{
    padding-left: 2%; 
}

.ct
{
    padding-left: 4%;
}

.event
{
    padding-top: 5%;
    padding-bottom: 5%;
    font-size: 40px;
    text-align: center;
}

/* .slider
{
    width: 80%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4%;
    border-radius: 10px;
}

.slides{
    border-radius: 10px;
    display: none;
    margin-left: auto;
    margin-right: auto;
}

.left, .right{
    cursor: pointer;
    position: absolute;
    width: auto;
    top: 50%;
    padding: 4%;
    margin-top: 5%;
    font-weight: bold;
    font-size: 20px;
    transition: 0.5 ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.right{
    right: 0;
    border-radius: 3px 0 0 3px;
}

.show{
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
} 

@-webkit-keyframes fade{
    from {opacity: .4;}
    to {opacity: 1;}
}

@keyframes fade{
    from {opacity: .4}
    to {opacity: 1;}
} */
